/*
 *= require_self
 *= require_tree .
 */
body {
  background-color: rgb(246, 236, 188)5;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.eng-font {
  font-family: 'Playfair Display', serif;
}

.hero {
  display: flex;
  flex-direction: row;

}

.hero-image {
  width: 30%;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.top-page-header {
  width: 100vw;
  height: 80px;
  color: rgb(125, 248, 227);
  background-color: rgb(244, 231, 175)5;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.navigation {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-right {
  display: flex;
  min-width: 200px;
  list-style: none;
}

.lists-right li {
  list-style: none;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #81e9eb;
}

.sign-up {
  text-decoration: none;
  color: #e86384;
  font-weight: bold;
}

.wineries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}


.winery-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 12px;
  background-color: #fffef9;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  text-align: center;
}